@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>
            Welcome to the blazor chat app.
        </p>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome</h1>
        <p>
            To use the chat, please register or authorize your account.
        </p>
    </NotAuthorized>
</AuthorizeView>