@page "/"

<PageTitle>ChatApp</PageTitle>

<AuthorizeView>
    <Authorized>
        <div>
            <p>
                Welcome to the blazor chat app.
            </p>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <h1>Welcome</h1>
            <p>
                To use the chat, please register or authorize your account.
            </p>
        </div>
    </NotAuthorized>
</AuthorizeView>