@page "/"

<PageTitle>ChatApp</PageTitle>

<div style="display:flex; justify-content:center; margin-top: 50px">
    <AuthorizeView>
        <Authorized>
            <div>
                <h2>
                    Welcome to the blazor chat app.
                </h2>
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                <h1>Welcome</h1>
                <h5>
                    To use the chat, please register or authorize your account.
                </h5>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>