@page "/login"

@using ChatApp.Blazor.Data;
@using ChatApp.Blazor.Services.Interfaces;

@inject IAccountService AccountService

<h3>Login</h3>
<hr />

<EditForm Model="@loginModel" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" class="form-control" @bind-Value="loginModel.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task LoginAsync()
    {
        await AccountService.Login(loginModel);
        // Navigate to desired page after successful login
    }
}