@using ChatApp.Blazor.Helpers;
@using ChatApp.Blazor.Services.Interfaces;
@using System.Security.Claims;

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAccountService AccountService

<PageTitle>ChatApp.Blazor</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <div class="top-row px-4" style="justify-content:space-between;">
            <h1 style="">ChatApp</h1>
            <AuthorizeView>
                <NotAuthorized>
                    <div style="display: flex">
                        <NavLink class="nav-link" href="login">
                            <a>Login</a>
                        </NavLink>
                        <NavLink class="nav-link" href="signin">
                            <a>Sign In</a>
                        </NavLink>
                    </div>
                </NotAuthorized>
                <Authorized>
                    <div style="display: flex; align-items:center;">
                        <span style="white-space: pre">Hello, </span>
                        <button onclick="@(() => NavigateToProfile())" Style="color: rgb(89, 74, 226)">
                            @context.User.Identity!.Name!
                        </button>
                        <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Primary">
                            <NavLink class="nav-link" href="changepassword">
                                <MudMenuItem>Change Password</MudMenuItem>
                            </NavLink>
                            <NavLink class="nav-link" href="/">
                                <MudMenuItem OnClick="Logout">Logout</MudMenuItem>
                            </NavLink>
                        </MudMenu>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {

    private async Task Logout()
    {
        await AccountService.Logout();
        NavigationManager.NavigateTo("/");
    }
    private async Task NavigateToProfile()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        //var userId2 = authState.User.Claims.ResultView
        var userId = authState.User.FindFirstValue("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"); // Assuming that the user ID is stored in the "sub" claim
        NavigationManager.NavigateTo($"/user-details?userId={userId}");
    }
}