@page "/chats"
@using System.Net.Http.Json
@using ChatApp.DTO;
@using ChatApp.Blazor.Services.Interfaces;
@inject IUserService UserService
@inject NavigationManager NavigationManager

<h3>AllChats</h3>

@code {

}
