@page "/users/details"
@attribute [Authorize]

@using System.Net.Http.Json
@using Microsoft.AspNetCore.WebUtilities;
@using ChatApp.Blazor.Services.Interfaces;
@using ChatApp.DTO;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService

<div class="d-flex justify-content-center">
    <MudCard Style="width: 400px;">
        @if (_userInfo?.Avatars != null && _userInfo?.Avatars.Count > 0)
        {
            <MudCardMedia Image="@_userInfo?.Avatars[^1].Content" Height="200" />
        }
        <MudCardContent>
            <MudText Typo="Typo.h5">@_userInfo?.FirstName @_userInfo?.LastName</MudText>
            <MudPaper Width="100%" Square="true">
                <MudList>
                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.AlternateEmail" Color="Color.Primary" />
                        @_userInfo?.UserName
                    </MudListItem>
                    <MudDivider DividerType="DividerType.Inset" />
                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Primary" />
                        @_userInfo?.Email
                    </MudListItem>
                    <MudDivider DividerType="DividerType.Inset" />
                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.PhoneAndroid" Color="Color.Primary" />
                        @_userInfo?.PhoneNumber
                    </MudListItem>
                </MudList>
            </MudPaper>
        </MudCardContent>
        <MudCardActions Class="d-flex justify-content-between">
            <NavLink href="users">
                <MudButton Variant="Variant.Text" Color="Color.Primary">Back</MudButton>
            </NavLink>
            @if (_editEnabled)
            {
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => OnEdit())">Edit</MudButton>
            }
        </MudCardActions>
    </MudCard>
</div>

@code {
    private UserDTO? _userInfo;
    private bool _editEnabled;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
            string id = QueryHelpers.ParseQuery(uri.Query)["userId"];
            _userInfo = await UserService.GetUserByIdAsync(id);

            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            _editEnabled = _userInfo?.Email == authState.User.Identity?.Name;

            StateHasChanged();
        }
    }

    private void OnEdit()
    {
        var uri = new Uri(NavigationManager.ToAbsoluteUri($"/users/edit-user?userId={_userInfo.Id}").ToString());
        NavigationManager.NavigateTo(uri.ToString());
    }
}
